table {
  overflow: hidden;
}

tr:not(:first-child):hover {
  background-color: rgba(230, 80, 0, 0.2);
}

td,
th {
  position: relative;
}

td:not(:first-child):hover::after,
td:not(:first-child):hover::after {
  content: "";
  position: absolute;
  background-color: rgba(230, 80, 0, 0.2);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.cursor-pointer {
  cursor: pointer;
}

.column-selected {
  color: #388e3c;
}

.row-crossed-out {
  color: #424242;
}
